.locationName:hover{
    font-size: 17px;
}

ul li{
    display: inline; 
    margin-left: 5%;
}

.locationsList{
    background-color: #eeeeee;
    height: 40px;
    border-style: solid;
    text-align: center;
    margin: auto;
    border-width: 0px 0px 1px 0px;
    padding-top: 5px;
    border-radius: 0px 0px 4px 4px;  
    opacity: 0.8;
}

@media screen and (max-width: 500px) {
    .locationsList {
      display: none;
    }
}