@import 'src/app/_partialCustom';

.navbar{
    height: 70px;
}

.createLocation{
 margin-left: 5%;
}

.searchForm{
  margin-right: 60%;
  width: 30%; 
}

.custom-navbar{
     background-color: #dddddd; 
    height: 65%;
}

.locationName:hover{
    font-size: 17px;
}

ul li{
    display: inline; 
    margin-left: 5%;
}

.locationsList{
    background-color: #eeeeee;
    height: 40px;
    border-style: solid;
    text-align: center;
    margin: auto;
    border-width: 0px 0px 1px 0px;
    padding-top: 5px;
    border-radius: 0px 0px 4px 4px;  
    opacity: 0.8;
}

@media screen and (max-width: 500px) {
    .locationsList {
      display: none;
    }

    .navbar a {
      float: none;
      display: block;
    }
  }

  