
.myLogo{
    font-family: 'Be Vietnam', sans-serif;
    margin-left: 3%;
    font-size: 25px;
}

.searchform{
   margin: auto;
}
.mytest{
   margin-left: 10px;
}

.navbar{
    border-width: 0px 0px 1px 0px;
    border-color: #9AD4D6;
    border-style: solid;
    background-color: #DBCBD8;
    height: 100%;
}

.custom-navbar{
    height: 75px;
}

ul li{
    display: inline;
    margin-left: 5%;
}

.locationsList{
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    height: 40px;
    text-align: center;
    margin: auto;
    padding-top: 5px;
    border-radius: 0px 0px 7px 7px;
    background-color: #9AD4D6;
}