$bannerBackground: #03596B;

$footerBackground: #16DB93;

// ShowMe Collors Pallete   https://colorhunt.co/palette/14832
$LightBlue:  #e4f9f5;
$Blue: #30e3ca;
$DarkBlue: #11999e;
$Grey: #40514e;


%loading{
   font-size: 30px;
   text-align: center;
}



%underlined{
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgba(29, 29, 29, 0.877);
}