
*{
    margin:0px; padding:0px;
}

.customFooter{
    border-radius: 5px;
    background-color: #9AD4D6;

    position: fixed;
    left: 0;
    bottom: 0;
    height: 17%;
    width: 100%;
    text-align: justify;
}
