
@import 'src/app/_partialCustom';

#customFooter{
    
    border-radius: 2px;
    background-color: $footerBackground;

    position: static;
    left: 0;
    bottom: 0;
    margin:auto;
}

.footerTest{
    height: 80px;
}

.footerLinks{
    @extend %underlined;
    margin-left: 20px;
    bottom: 0;
    text-decoration: none;
} 

.footerLinks:hover{
    font-size: 23px;
}

.contacts{
    text-align: right;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 40%;
}

.contacts:hover{
    font-size: 22px;
}
