
<div class = "footerTest "></div>
<!-- Footer -->
<footer class="page-footer font-small teal pt-4 " id="customFooter">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">
          <div class="row">
              
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
      
              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">{{ utils.brandName }}</h5>
              <span></span>
              <p class="footerDescription">{{ utils.companyMotto}}</p>
      
            </div>
            <!-- Grid column -->
      
             <!-- Grid column -->
             <div class="col-md-6 mb-md-0 mb-3 contacts">
      
                    <!-- Content -->
                      <a class="footerLinks" href="about">About</a>
                      <a class ="footerLinks" href="asd" > Contacts</a>
                  </div>
                  <!-- Grid column -->
        
      
          </div>
          <!-- Grid row -->
      
        </div>
      
        <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="http://localhost:4200" target="_self"> http://showme.com</a>
      </div>
      <!-- Copyright -->
      
      </footer>

