.highlightsContainer{    
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.cardsHolder{
   margin: auto;  
}

.card{
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.card-body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.btnVisit{width:50%; line-height: 50%;  }

.cardImg{ padding-bottom: 10%;}

.locationText{

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;     /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;   
}
    
   


#cardId:hover{
    transform: scale(1.05, 1.05);
    box-shadow: 2px 2px 20px 10px rgba(46, 46, 46, 0.23), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
}



.fadeout {
    position: absolute; 
    bottom: 3em;
    width: 100%;
    height: 3em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, 1) 90% ); 

} 



@media only screen and (max-width: 800px) {

    .cardsHolder{
        padding: 5%;
        -webkit-overflow-scrolling: touch;        
    }
  }

//section {position:relative}     
