
.highlightsContainer{
    
    margin: auto;
    text-align: center;
}

.card{
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.visitMe{
    width: 40%;
}

.locationImg{
    
    border-radius: 2px;
}

.locationText{
    height: 50px;
    //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}