
<div class="highlightsContainer" >

       

          <div class="cardsHolder"  *ngFor="let location of highlights">

                <div class="card"  id="cardId"[routerLink]="['/location', location.id]"  style="width: 18rem;">
                       
                        <div class="card-body">
                                   <img  class="card-img-top cardImg" src="{{ location.imageSrc }}" alt="...">
                                   <h5 class="card-title">{{ location.title}}</h5>
                                   <p class="card-text locationText">{{ location.description}} </p>
                                   <div class="fadeout"></div>
                                   <a class="btn btn-primary btnVisit ">Visit</a>
                         </div>
                  </div>

         </div>
  </div>

